@page "/fetchdata"
@inject HttpClient Http

<h1>Free Champion Rotation</h1>

@if (champions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var champion in champions)
            {
                <tr>
                    <td>@champion.Id</td>
                    <td>@champion.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Champion[] champions;

    protected override async Task OnInitializedAsync()
    {
        champions = await Http.GetFromJsonAsync<Champion[]>("test");
    }

    public class Champion
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }
}
