@page "/"
@inject HttpClient Http

<h1>Hello, world!</h1>

@code{
    protected override async Task OnInitializedAsync()
    {
        // Calls Heroku API to wake it up and reduce cold starts on other pages.
        await Http.GetAsync("test");
    }
}